@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  height: 100vh;
  background-color: #242525;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.form {
  width: 25rem;
  padding: 2rem;
}

.btn {
  width: 100%;
  font-size: 1rem;
}

.input {
  width: 100%;
  padding: 8px 10px;
  color: #e5e5e5;
  border: 2px solid #797d7d;
  background-color: #474848;
}

.header {
  margin-bottom: 1rem;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: italic;
}

.logo {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: italic;
}

.header-history {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


.history-list {
  li {
    border-top: 1px solid #a2a2a2;
    padding: 0.5rem 0;

    &:last-child {
      border-bottom: 1px solid #a2a2a2;
      margin-bottom: 0.5rem;
    }
  }
}

.profile-form {
  padding: 2rem;
  margin: 10rem auto;
  text-align: right;

  & img {
    overflow: hidden;
    /* animation: animate 8s ease-in-out infinite; */
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  & .edit-btn {
    background-color: #2563eb;
  }

  & .edit-form {
    background-color: red;
  }
}

.dialog-content {
  color: white !important;
}

/* Calender Styling */

.react-calendar {
  background: #474848 !important;
  border: none !important;
  color: #b6b6b6 !important;

  abbr:where([title]) {
    text-decoration: none !important;
    color: #f5e35c !important;
  }
}
.calendar-custom .react-calendar__tile {
  font-size: 1rem;
  border-radius: 50%;
  width: 35rem !important;
  transition: background-color 0.3s ease;
}

.calendar-custom .react-calendar__navigation button {
  font-weight: bold;
  /* font-size: .8rem; */
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-size: 100% 100%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background-size: 100% 200%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-size: 100% 100%;
  }
}

.select {
  margin-top: 0.5rem !important;
}

.workout-form {
  margin: 1rem 1rem 1rem 3rem;
}

@media (max-width: 1024px) {
  .pr {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .form {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    overflow: hidden;
  }
}
@media (max-width: 440px) {
  .profile-form {
    width: 100%;
    margin-top: 5rem;
    border-radius: 0;
    overflow: hidden;
    border: none;

    & .profile-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .workout {
    width: 100%;
    height: 100vh;
    margin: 0;

    & form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      border-radius: 0;
    }
  }

  .workout-form {
    margin: 0;
  }
}

.border {
  border: 1px solid black;
}

/* Animations */
.animate {
  animation: animate forwards 1s;
  animation-delay: 0s;
  opacity: 0;
}
.animate_2 {
  animation: animate_2 forwards 1s;
  animation-delay: 0s;
  opacity: 0;
}

.animate_3 {
  animation: animate_3 forwards 1s;
  animation-delay: 0s;
  opacity: 0;
}

@keyframes animate {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes animate_2 {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes animate_3 {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.fadein {
  animation: fadein forwards 1s;
  animation-delay: 0.4s;
  transform: translateX(-200px);
  opacity: 0;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.border {
  border: 1px solid gray;
}