@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  height: 100vh;
  background-color: #242525;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.form {
  width: 25rem;
  padding: 2rem;
}

.btn {
  width: 100%;
  font-size: 1rem;
}

.input {
  width: 100%;
  padding: 8px 10px;
  color: #e5e5e5;
  border: 2px solid #797d7d;
  background-color: #474848;
}

.header {
  margin-bottom: 1rem;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: italic;
}
.header-history {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.history-list {
  li {
    border-top: 1px solid #a2a2a2;
    padding: 0.5rem 0;

    &:last-child {
      border-bottom: 1px solid #a2a2a2;
      margin-bottom: 0.5rem;
    }
  }
}

.profile-form {
  padding: 2rem;
  margin: 10rem auto;
  text-align: right;

  & img {
    overflow: hidden;
    animation: animate 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  & .edit-btn {
    background-color: #9333ea;
  }

  & .edit-form {
    background-color: red;
  }
}

.dialog-content {
  color: white !important;
}

/* Calender Styling */
.calendar-custom .react-calendar {
  border: none;
  background: linear-gradient(to right, #6a5acd, #483d8b);
  border-radius: 10px;
}
.calendar-custom .react-calendar__tile {
  font-size: 1rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.calendar-custom .react-calendar__tile:enabled:hover,
.calendar-custom .react-calendar__tile--active {
  background: #4c51bf;
}
.calendar-custom .react-calendar__navigation button {
  font-weight: bold;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-size: 100% 100%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background-size: 100% 200%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-size: 100% 100%;
  }
}

.workout-form {
  margin: 1rem 1rem 1rem 3rem;
}

@media (max-width: 1024px) {
  .pr {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .form {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    overflow: hidden;
  }
}
@media (max-width: 440px) {
  .profile-form {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    overflow: hidden;
    margin: 0;
    border: none;

    & .profile-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .workout {
    width: 100%;
    height: 100vh;
    margin: 0;

    & form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      border-radius: 0;
    }
  }

  .workout-form {
    margin: 0;
  }
}

.border {
  border: 1px solid black;
}
